:root {
  --color--black: black;
  --color--crimson: crimson;
  --color--blue: #5686a0;
  --color--dark-blue: #02436a;
  --color--dark-slate-blue: darkSlateBlue;
  --color--dark-slate-grey: darkSlateGrey;
  --color--green: green;
  --color--grey: grey;
  --color--indigo: indigo;
  --color--lavender: lavender;
  --color--navy: navy;
  --color--orange: orange;
  --color--purple: purple;
  --color--rosy-brown: rosyBrown;
  --color--sandy-brown: sandyBrown;
  --color--slate-blue: slateBlue;
  --color--teal: teal;
  --color--violet: violet;
  --color--white: white;
  --color--yellow: yellow;
}
