:root {
  --font-family--primary: "Nunito", sans-serif;
  --font-family--secondary: "Rubik", sans-serif;

  --letter-spacing--primary: 0.03rem;
  --letter-spacing--secondary: 0.1rem;

  --line-height--primary: 1.2;
  --line-height--secondary: 1.4;
}
